h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin:20px auto 20px;
}

p { 
    margin:20px auto 0px; 
}

a{
    text-decoration: none;
}
/* --------------------問い合わせ関係 -----------------------*/

.toiawase {
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: solid 1px;
}

.container p {
    font-weight: bold;
    text-align: left;
    margin-top: 45px;
    font-size: 1.125rem;
}


.input {
    width:40%;
    text-align: left;
}

.container {
    margin-top:100px;
    max-width: 100%;
    padding: 0 25% 0;
}

textarea {
    width: 100%;
    height: 350px;
    resize: none;
}

.button {
    text-align: center;
}

#kakunin {
    margin: 40px auto 80px;
    width: 50%;
    height: 50px;
    text-align: center;
}

.button-matome {
    display: flex;
    
}

@media screen and (max-width: 768px) {
    .toiawase{
        text-align: center !important;
    }
    .container{
        padding: 0 10% 0;
    }

    .input {
        width:100%;
    }
}

/* --------------------ヘッダー・フッター関係 -----------------------*/

.title_header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(10, 7, 36);
    align-items: center;
  }


.serch {
    text-align: center;
    /* background-color: blue; */
    width: 80%;
}

#serch_button {
    width:100px;
    height: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}

.link_1 {
    width: 10%;
    /* background-color: red; */
    padding: 0px 20px 6px;
}

.link_2 {
    width: 10%;
    /* background-color: red; */
    padding: 0px 20px 6px;
}

.link_1 p {
    color: white;
    margin: 0;
    margin: 20px;
}

.link_2 p {
    color: white;
    margin: 0;
    text-align: right;
    margin: 20px;
}


.text_box {
    width: 50%;
    height: 50px;
}

.header_list {
    width: 100%;
    height: 120px;
    background-color: rgb(29, 28, 68);
    justify-content: center;
    display: flex;
}

header a {
    color: white;
}

header a:hover {
    color: white;
    border: solid 1px;
}
   
.title {
    text-align: center;
    color: rgb(255, 255, 255);
}


.footer_list{
    display: flex;
    padding-top: 30px;
}

footer {
    background-color: rgb(29, 28, 68);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
}

footer li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

footer ul {
    text-align: center;
}

.list_1 {
    width: 33%;
    padding-left: 0;
}

.list_2 {
    width: 33%;
    padding-left: 0;
}

.list_3 {
    width: 33%;
    padding-left: 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    border: solid 1px;
}

footer p {
    color: white;
    font-family: Helvetica;
    font-size: 0.8rem;
    margin-top: 33px;
    text-align: center; 
}



@media screen and (max-width: 1580px) {
    .serch {
        text-align: center;
        /* background-color: blue; */
        width: 55%;
    }

    .link_1 {
        width: 22.5%;
        /* background-color: red; */
        padding: 0px 20px 6px;
    }
    
    .link_2 {
        width: 22.5%;
        /* background-color: red; */
        padding: 0px 20px 6px;
    }

}

@media screen and (max-width: 420px) {

    footer li {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.6rem;
    }

    .list_1 {
        width: 33%;
    }
    
    .list_2 {
        width: 33%;
    }
    
    .list_3 {
        width: 33%;
    }

}

/* --------------------管理者画面関係 -----------------------*/

/* 管理画面ほぼ全部TOPページのコピペなんでクラスとかも全部いっしょです。 */


.kanri_top h1 {
    float: left
}

.admin_button {
    text-align: right;
    margin: 30px;
}

.admin_item_title {

    text-align: center;
    border: solid 2px;
    margin: 10px 100px 0;
}

.admin_item_title span {
    margin: 10px 7% 10px;
    font-weight: bold;
    font-size: 1.25rem;

}

.admin_item_title p , .admin_item p{
    margin: 20px auto 20px;
    /* text-align: justify; */
}

.admin_item {
    text-align: center;
    margin: 0 100px 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 2px;
    border-left: solid 2px;
}

.admin_item span {
    margin: 10px 7.5% 10px;
    /* font-weight: bold; */
    /* font-size: 1.25rem; */
}


.admin_subtitle {
    clear: both;
    text-align: center;
}

.admin_subtitle span {
    text-align: center;
}

.admin_subtitle h2{
    font-weight: normal;
}

.admin_button_matome {
    text-align: center;
    margin: 30px;
}

.admin_kakunin {
    text-align: center;
    margin: 0 200px 0;
    border: solid 1px;
    padding: 40px;
}

.admin_yes {
    width: 80%;
    height: 100px;
    margin-bottom: 40px;
}

.admin_no {
    width: 80%;
    height: 100px;
}

.admin_form {
    margin-left: 50px;
    margin-right: 50px;
}

/* --------------------新規登録・ログイン関係 -----------------------*/

.touroku_title {
    text-align: center;
    margin-bottom: 40px;
}

.kiyakusyo {
    margin-bottom: 30px;
}

.message {
    margin: 40px;
}

.subtitle {
    text-align: center;
}

.input_form table {
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

.input_form table td {
    border: solid 1px;
    padding: 25px;
}

.input_form table th {
    border: solid 1px;
    padding: 25px;
}

.input_form p {
    margin: 30px auto 0px;
    text-align: center;
    color: red;
}

.input_form .require {
    color: red;
    font-size: 0.6rem;
    text-align: right;
    width: 100%;
}

.input_form .error {
    color: red;
    font-size: 0.8rem;

}

.textbox {
    width: 100%
}

.doui {
    text-align: center;
}

.doui .btn {
    width: 80%;
    height: 50px;
    font-size: 1.5rem;
}

.doui label {
    margin-bottom: 30px;
}
.kiyaku_doui {
    margin-bottom: 50px;
}

@media screen and (max-width: 950px) {

    .input_form td ,.input_form th{
        display: block;
        text-align: center;
    }

    .input_form table {
        width: auto;
        border: solid 1px;
    }

    .input_form table th {
        padding: 0;
        border-bottom: none;
        background-color: rgb(29, 28, 68);
        color: white;
    }
}