h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin:20px auto 20px;
}

p { 
    margin:20px auto 0px; 
}

a{
    text-decoration: none;
}
/* --------------------問い合わせ関係 -----------------------*/

.toiawase {
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: solid 1px;
}

.container p {
    font-weight: bold;
    text-align: left;
    margin-top: 45px;
    font-size: 1.125rem;
}


.input {
    width:40%;
    text-align: left;
}

.container {
    margin-top:100px;
    max-width: 100%;
    padding: 0 25% 0;
}

textarea {
    width: 100%;
    height: 350px;
    resize: none;
}

.button {
    text-align: center;
}

#kakunin {
    margin: 40px auto 80px;
    width: 50%;
    height: 50px;
    text-align: center;
}

.button-matome {
    display: flex;
    
}

@media screen and (max-width: 768px) {
    .toiawase{
        text-align: center !important;
    }
    .container{
        padding: 0 10% 0;
    }

    .input {
        width:100%;
    }
}

/* --------------------ヘッダー・フッター関係 -----------------------*/

.title_header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(10, 7, 36);
    align-items: center;
  }


.serch {
    text-align: center;
    /* background-color: blue; */
    width: 80%;
}

#serch_button {
    width:100px;
    height: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}

.link_1 {
    width: 10%;
    /* background-color: red; */
    padding: 0px 20px 6px;
}

.link_2 {
    width: 10%;
    /* background-color: red; */
    padding: 0px 20px 6px;
}

.link_1 p {
    color: white;
    margin: 0;
    margin: 20px;
}

.link_2 p {
    color: white;
    margin: 0;
    text-align: right;
    margin: 20px;
}


.text_box {
    width: 50%;
    height: 50px;
}

.header_list {
    width: 100%;
    height: 120px;
    background-color: rgb(29, 28, 68);
    justify-content: center;
    display: flex;
}

header a {
    color: white;
}

header a:hover {
    color: white;
    border: solid 1px;
}
   
.title {
    text-align: center;
    color: rgb(255, 255, 255);
}


.footer_list{
    display: flex;
    padding-top: 30px;
}

footer {
    background-color: rgb(29, 28, 68);
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}

footer li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

footer ul {
    text-align: center;
}

.list_1 {
    width: 33%;
    padding-left: 0;
}

.list_2 {
    width: 33%;
    padding-left: 0;
}

.list_3 {
    width: 33%;
    padding-left: 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    border: solid 1px;
}

footer p {
    color: white;
    font-family: Helvetica;
    font-size: 0.8rem;
    margin-top: 128px;
    text-align: center; 
}



@media screen and (max-width: 1580px) {
    .serch {
        text-align: center;
        /* background-color: blue; */
        width: 55%;
    }

    .link_1 {
        width: 22.5%;
        /* background-color: red; */
        padding: 0px 20px 6px;
    }
    
    .link_2 {
        width: 22.5%;
        /* background-color: red; */
        padding: 0px 20px 6px;
    }

}

@media screen and (max-width: 420px) {

    footer li {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.6rem;
    }

    .list_1 {
        width: 33%;
    }
    
    .list_2 {
        width: 33%;
    }
    
    .list_3 {
        width: 33%;
    }

}